
 {% extends "base.html" %} 

 {% block titulo %} Inicio Sesion {% endblock %}
    
 {% block contenido %} 
  <!--Mensajes-->
  <br>  <br>   <br>
    {% if messages %} 
        {% for message in messages %}
            <div class="notification {{message.tags}}" style="background-color:#24E509;">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    <h1>Bienvenido</h1> 

  <div class="container" style="margin: 15px;">

    <form class="form w-100 mb-4" method="post" style="border-radius: 5px; margin-right: 50px; margin-left: 25px; padding: 15px; background-color: aliceblue;"> {% csrf_token %}
      <div class="mb-4">
        
          {{form.as_p}}
      
      
      </div>
        <button type="submit" class="btn btn-primary" id="submit" style="display: block;" >Inicio Sesion</button>
      
        <div class="my-3">
            <span>
                No Tienes Cuenta? <a href="{% url 'usuarios:registro' %}">Registrate</a>
            </span><br>
            <span>
                <a href="#">Recuperar Contraseña</a>
            </span>
        </div>
    </form> 
    
 </div>
{% endblock %}