
 {% extends "base.html" %} 

 {% block titulo %} Registro {% endblock %}
    
 {% block contenido %} 
 <br><br><br> 
    <h1>Registrate y Comenza a Capacitarte</h1> 

  <div class="container" style="margin: 15px;">

    <form class="form w-100 mb-4" method="post" style="border-radius: 5px; margin-right: 50px; margin-left: 25px; padding: 15px; background-color: aliceblue;"> {% csrf_token %}
      <div class="mb-4">
        
          {{form.as_p}}
      
      
      </div>
        <button type="submit" class="btn btn-primary" id="submit" style="display: block;" >Registrate</button>
    </form> 
    
 </div>
{% endblock %}